{% extends "base.html" %}
{% load static %}
{% block title %}
traffic management system
{% endblock title %}

{% block content %}
{% include 'head.html' %}
        <!-- Services-->
        <section class="page-section" id="services">
          <div class="container">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">خدماتنا</h2>
                  <h3 class="section-subheading text-muted"></h3>
              </div>
              <div class="row text-center">
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fas fa-circle fa-stack-2x text-primary"></i>
                          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="my-3">الخدمات المرورية</h4>
                      <p class="text-muted">نساعد على التحسين للحركة المرورية ونطورها بشكل مستمر للصورة الأحسن  </p>
                  </div>
              
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fas fa-circle fa-stack-2x text-primary"></i>
                          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="my-3">انواع المخالفات المرورية </h4>
                      <p class="text-muted">يمكنك التعرف على جميع المخالفات المرورية  </p>
                  </div>
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fas fa-circle fa-stack-2x text-primary"></i>
                          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="my-3">حماية معلوماتي</h4>
                      <p class="text-muted">يتم حماية معلومات الراكب والحد من الأخطار </p>
                  </div>
              </div>
          </div>
      </section>
      <!-- Portfolio Grid-->
      <section class="page-section bg-light" id="portfolio">
          <div class="container">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">الخدمات السريعة</h2>
                  <h3 class="section-subheading text-muted">يمكنك معرفة المخالفات الذي لديك وتسديد ما عليك عبر موقعنا </h3>
              </div>
              <div class="row">
                  <div class="col-lg-4 col-sm-6 mb-4">
                      <!-- Portfolio item 1-->
                      <div class="portfolio-item">
                          <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'profile' %}">
                              <div class="portfolio-hover">
                                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                              </div>
                              <img class="img-fluid" src="{% static 'assets/img/portfolio/1.jpg' %}" alt="..." />
                          </a>
                          <div class="portfolio-caption">
                              <div class="portfolio-caption-heading">خدمات رقمية </div>
                              <div class="portfolio-caption-subheading text-muted"></div>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-lg-4 col-sm-6 mb-4">

                      <!-- Portfolio item 3-->
                      <div class="portfolio-item">
                          <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'profile' %}">
                              <div class="portfolio-hover">
                                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                              </div>
                              <img class="img-fluid" src="{% static 'assets/img/portfolio/3.jpg' %}" alt="..." />
                          </a>
                          <div class="portfolio-caption">
                              <div class="portfolio-caption-heading">سيارتي</div>
                              <div class="portfolio-caption-subheading text-muted"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                      <!-- Portfolio item 4-->



                      <!-- Portfolio item 5-->
                      <div class="portfolio-item">
                          <a class="portfolio-link" data-bs-toggle="modal" href="{% url 'profile' %}">
                              <div class="portfolio-hover">
                                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                              </div>
                              <img class="img-fluid" src="{% static 'assets/img/portfolio/5.jpg' %}" alt="..." />
                          </a>
                          <div class="portfolio-caption">
                              <div class="portfolio-caption-heading"></div>
                              <div class="portfolio-caption-subheading text-muted"></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </section>
      <!-- About-->
      <section class="page-section" id="about">
          <div class="container">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">من نحن</h2>
                  <h3 class="section-subheading text-muted">نظام ادارة المرور</h3>
              </div>
              <ul class="timeline">
                  <li>
                      <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logos/logo.png' %}" alt="..." /></div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="subheading">عنا</h4>
                          </div>
                          <div class="timeline-body"><p class="text-muted">هي احدى المكونات التنظيمية التابعة لوزارة الداخلية وتؤدي مهامها وفقاً لقانون المرور النافذ رقم 46 لسنة 1991م وتعديلاته واللائحة التنفيذية وتمارس مهام اختصاصات نوعية وتقدم خدمات متنوعة للمواطنين ومستخدمي الطريق عبر فروعها في صنعاء يديرها حالياً العميد الدكتور-بكيل محمد البراشي  (</p></div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image"><img class="rounded-circle img1-fluid" src="{% static 'C:\Users\User\Desktop\tms\tms\static\assets\gggg.jpg' %}" alt="..." /></div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="subheading">الرؤية</h4>
                          </div>
                          <div class="timeline-body"><p class="text-muted">تعزيز السلامة المرورية والإرتقاء بالخدمات المرورية للجمهور لأفضل المستويات</p></div>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-image"><img class="rounded-circle img1-fluid" src="{% static 'C:\Users\User\Desktop\tms\tms\static\assets\aa.jpg' %}" alt="..." /></div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="subheading">الأهداف</h4>
                          </div>
                          <div class="timeline-body"><p class="text-muted">ا- الحد من المخالفات والحوادث المرورية<br>
                              ب- تنظيم وتسهيل حركة السير على الطرقات<br>
                              ج- ترشيح الثقافة والوعي المروري لدى الجمهور<br>
                              د- تعزيز السلامة المرورية على الطرقات<br> 
                              ه- تسهيل الحصول على الخدمات المرورية وتوسيع نطاقها وتحسين جودتها<br>
                          </p></div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/logos/logo.png ' %}" alt="..." /></div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="subheading">نبذة عنا</h4>
                          </div>
                          <div class="timeline-body"><p class="text-muted">نسعى لتحقيق الامان في البلاد والتجنب من الحوادث والمخالفات المرورية</p></div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image">
                          <h4>
                              معاَ
                              <br />
                              لتحسين الحركة 
                              <br />
                              المرورية
                          </h4>
                      </div>
                  </li>
              </ul>
          </div>
      </section>
      







{% comment %} <div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Getting Started with Python on Heroku</h1>
    <p>This is a sample Python application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/python-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in <a href="https://github.com/heroku/python-getting-started/blob/main/requirements.txt">requirements.txt</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/python-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd python-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-python#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div> {% endcomment %}
{% include 'footer.html' %}
{% endblock %}
